<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<style type="text/css">
		.txt_contrat{
			width: 70%;
			margin-right: auto;
			margin-left: auto;
		}

		li{margin-bottom: 10px}

		.article{
			font-weight: bold;
			font-size: 1em;
			border-top-right-radius: 10px;
			color: black;
		
		}

		h2{
			text-align: center;
			background-color: #e63946;
			padding: 15px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
		p,li{
			
			color: #293241;
		}

		#keyz_forma{
			font-weight: bold;
		}

		span{
			font-weight: bold
		}

		.signature{
			display: flex;
			justify-content: space-between;
		}
	</style>
</head>
<body>

<div class="txt_contrat">
	<h2>CONTRAT DE FORMATION PROFESSIONNELLE</h2>


	<h4>Entre les soussignés :</h4>


	<p id="keyz_forma">Keyz Formation enregistré sous le numéro de déclaration d'activité 11941003294 auprès de la Direction Régionale des Entreprises, de la Concurrence, de la Consommation, du Travail et de l’Emploi (DIRECCTE)</p>

	<p>ET</p>


	<p><span id="nom">""nom""</span> <span id="prenom">""prenom""</span></p>


	Demeurant au <span id="rue">adresse</span>  <span id="code_postal"> code_postal</span>

	<p>ci-après désigné le stagiaire.</p>


	<p class ='article'> Article 1 : Objet</p>

	<p>En exécution du présent contrat, l’organisme de formation s’engage à organiser l’action de formation intitulée : FORMATION VTC.</p>


	<p class ='article'> Article 2 : Nature et caractéristiques de l’action de formation</p>

	<p>L’action de formation entre dans la catégorie des actions de formation prévues par l’article L.6313-1 du Code du travail.
	Elle a pour objectif de préparer le candidat à l’examen VTC organisé par la Chambre de Métier.</p>
	<p>
	A l’issue de la formation, une attestation de formation sera délivrée au stagiaire. Sa durée est fixée à 70 heures.
	Le programme de l’action de formation figure en annexe du présent contrat.</p>


	<p class ='article'> Article 3 : Niveau de connaissances préalables nécessaire avant l’entrée en formation.</p>

	<p>Etre titulaire d’un permis B non probatoire</p>


	<p class ='article'> Article 4 : Organisation de l’action de formation</p>

	<p>L’action de formation aura lieu du <span id="deb_session">deb_session</span> au <span id="fin_session">fin_session</span> au 43 rue du Commandant Rolland, 93350 Le Bourget également sur 
		<strong>www.keyz-formation.fr</strong>.</p>

	Le(s) formateur(s) sera/seront : <span><li>Patrick Binam </li></span>

	<p>Les conditions générales dans lesquelles la formation est dispensée, notamment les moyens pédagogiques et techniques, les modalités de contrôle de connaissances, sont les suivantes : </p>

	<li>Un rétroprojecteur.</li>


	<p class ='article'> Article 5 : Modalités d’évaluation et de sanction</p> 

	<p>Les candidats sont évalués au cours de la formation au moins de questionnaires à choix multiple et par des questionnaires à réponse courte.</p>


	<p class ='article'> Article 6 : Délai de rétractation</p>

	<p>A compter de la date de signature du présent contrat, le stagiaire dispose d’un délai de :</p>

	- quatorze jours pour se rétracter.

	<p>Le stagiaire souhaitant se rétracter en informe l’organisme de formation par lettre recommandée avec accusé de réception. Dans ce cas, aucune somme ne peut être exigée du stagiaire.</p>



	<p class ='article'> Article 7 : Dispositions financières</p>

	<p>Le prix de l’action de formation est fixé à <span id="prix">Prix</span> euros.<br>

	Le stagiaire s’engage à verser <span id="cpf_engage">"prix de formation"</span>€ par <span id="moyen_financement">moyen_financement</span> et <span id="somme_restante">somme restante à payer</span>€ par financement personnel. </p>
	<p>Les frais d'inscription à la chambre de métier sont compris dans le coût de la formation et sont à la charge du centre de formation.</p>

	<p>
		Après un délai de rétractation mentionné à l’article 5 du présent contrat, le stagiaire effectue un
		premier versement d’un montant de <b>0 €</b>. Cette somme ne peut être supérieure à 30
		% du prix dû par le stagiaire. Le paiement du solde, à la charge du stagiaire, est échelonné au fur
		à mesure du déroulement de l’action de formation, après dispensation des heures de formation,
		selon le calendrier suivant: <br>
		<b>0 euros toutes les 0 heures de formation réalisées.</b>

	</p>



	<p class ='article'> Article 8 : Interruption du stage</p>

	<p>En cas de cessation anticipée de la formation du fait de l’organisme de formation ou l’abandon du stage par le stagiaire pour un autre motif que la force majeure dûment reconnue, le présent contrat est résilié selon les modalités financières suivantes :</p>

	<li>Keyz Formation s’engage à proposer une autre date de formation au candidat.</li>

	<p>Si le stagiaire est empêché de suivre la formation par suite de force majeure dûment reconnue, le contrat de formation professionnelle est résilié. Dans ce cas, seules les prestations effectivement dispensées sont dues au prorata temporis de leur valeur prévue au présent contrat.</p>



	<p class ='article'> Article 9 : Cas de différend</p>

	<p>Si une constatation ou un différend n’ont pu être réglés à l’amiable, le tribunal de commerce sera seul compétent pour régler le litige.</p>


	<p>Fait en double exemplaire, à Le Bourget le , <span id="date_contrat"></span></p>

	<div class="signature">
		<div>
			<span>Pour le stagiaire</span>
			(nom et qualité du signataire) 
		</div>

		<div>	
			<span>Pour l’organisme</span><br>
 			<span>Patrick Binam</span>
 		</div>
 	</div>


</div>

{% set pdf_link = "static/gen_contract/"+user %}

<button class="btn_pdf" onclick="to_pdf()">Telecharger le pdf</button>

<button class="print_pdf" onclick="print_pdf()">Imprimer</button>
<button class="print_pdf" ><a href="{{pdf_link}} " target="_blank" download=""> ouvrir </a></button>





<script type="text/javascript">
	// function qui récupère les données stockée dans session
	function donnee_contrat(){
		nom_client = document.getElementById('nom')
		nom_client.innerHTML = sessionStorage.getItem('nom_client')

		prenom_client = document.getElementById('prenom')
		prenom_client.innerHTML = sessionStorage.getItem('prenom_client')

		deb_session = document.getElementById('deb_session')
		deb_session.innerHTML = sessionStorage.getItem('date_entree')

		fin_session = document.getElementById('fin_session')
		fin_session.innerHTML = sessionStorage.getItem('date_sortie')

		moyen_financement = document.getElementById('moyen_financement')
		moyen_financement.innerHTML = sessionStorage.getItem('moyen_financement')

		rue = document.querySelector('#rue')
		rue.innerHTML =sessionStorage.getItem('rue')

		code_postal = document.querySelector('#code_postal')
		code_postal.innerHTML = sessionStorage.getItem('code_postal')

		prix = document.querySelector('#prix')
		prix.innerHTML = sessionStorage.getItem('prix')

		cpf_engage = document.querySelector('#cpf_engage')
		cpf_engage.innerHTML = sessionStorage.getItem('solde_cpf')

		reste_a_payer = document.querySelector('#somme_restante')
		reste_a_payer.innerHTML = sessionStorage.getItem('reste_a_payer')

		span_date = document.getElementById('date_contrat')
		date = new Date()
		month = date.getMonth()+1
		if (String(month).length == 1){
			month = '0'+month
		}
		span_date.innerText = date.getDate()+'/'+ month+'/'+ date.getFullYear()

	}
	
	// avec un timer on injecte les données du contrat
	//contenu dans session
	var contrat_lancee= setTimeout(donnee_contrat, 2000)

	//var contrat = document.getElementsByClassName('txt_contrat')[0]
	
	var opt = {

	  margin:       [0.2, 0],
	  filename:     'myfile.pdf',
	  image:        { type: 'jpeg', quality: 0.98 },
	  html2canvas:  { scale: 3 },
	  jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' },
	  pagebreak:    {mode: 'avoid-all'}
	};

	function print_pdf(){
		window.print()
	}
	
	function to_pdf(){
		var contrat = document.getElementsByClassName('txt_contrat')[0]
		html2pdf().set(opt).from(contrat.outerHTML).save()

		
		
	}

</script>
</body>
</html>